<!DOCTYPE html>
<html>
    <head>
        <!-- <?php header("Access-Control-Allow-Origin: http://example.com"); ?> -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        />

        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/map.css" />
        <script src="/openclose.js"></script>
        <script src="/map.js"></script>
    </head>
    <body style="background-color: #222222">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
                >&times;</a
            >
            <div class="welcome">
                <p class="headTtl">
                    Welcome to
                    <br />
                    <b>GWS Explorer</b>
                </p>
                <p class="headTxt">
                    GWS Explorer is a data tracking and analysis tool 
                    designed to retrieve sensor data and display it in the navigation panel.
                </p>
            </div>

            <hr style="width: 80%; color: lightgrey" />

            <div class="data">
                <div class="indiData" style="margin-top: 15px">
                    <b style="color: rgb(40, 37, 37); font-size: 20px"
                        >Number of Users :</b
                    >
                    <span class="numberUser" style="color: gray"></span>
                </div>
                <div class="indiData" style="margin-top: 15px">
                    <b style="color: rgb(40, 37, 37); font-size: 20px"
                        >Last Activity :</b
                    >
                    <span class="lastActivity" style="color: gray"></span>
                </div>
                <div class="indiData" style="margin-top: 15px">
                    <b style="color: rgb(40, 37, 37); font-size: 20px"
                        >Average Water Level :</b
                    >
                    <span class="avgWater" style="color: gray"></span>
                </div>
            </div>
        </div>

        <div id="mySidenavData" class="sidenavData" style="color: white">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()"
                >&times;</a
            >

            <p style="font-size: 30px; margin-bottom: 10px">
                GWS
                <span style="font-size: 25px; color: gray">Device Details</span>
            </p>
            <hr
                style="
                    width: 80%;
                    color: grey;
                    margin-bottom: 30px;
                    margin-top: 0px;
                "
            />

            <div class="data">
                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Id :</b>
                    <span
                        class="id"
                        style="color: gray; font-size: 19px"
                    ></span>
                </div>

                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Latitude :</b>
                    <span class="lat" style="color: gray"></span>
                </div>

                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Longitude :</b>
                    <span class="lon" style="color: gray"></span>
                </div>

                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Depth :</b>
                    <span class="depth" style="color: gray"></span>
                </div>

                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Water Level :</b>
                    <span class="waterLevel" style="color: gray"></span>
                </div>

                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Well Height :</b>
                    <span class="wellHeight" style="color: gray"></span>
                </div>

                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Rotations :</b>
                    <span class="rotations" style="color: gray"></span>
                </div>

                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Charge Status :</b>
                    <span class="chargeStatus" style="color: gray"></span>
                </div>
                <div class="indiData">
                    <b style="color: rgb(40, 37, 37)">Time :</b>
                    <span class="time" style="color: gray"></span>
                </div>
            </div>
        </div>

        <span class="navBtn" onclick="openNav()" style="color: white"
            >&#9776;</span
        >

        <div id="map" style="height: 1000px; z-index: 50"></div>
    </body>
</html>
