html {
    overflow: scroll;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-weight: 1;
    color: lightgrey;
    font-size: 15px;
    padding: 3px 8px 8px 32px;
}

h2 {
    padding: 8px 8px 8px 32px;
    font-size: 30px;
}

.sidenav {
    height: 100%;
    width: 370px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
    z-index: 100;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.01s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenavData {
    height: 100%;
    width: 0px;
    position: fixed;
    /* opacity: 0; */
    z-index: 75;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.15s;
    padding-top: 60px;
}

.sidenavData a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

.sidenavData a:hover {
    color: #f1f1f1;
}

.sidenavData .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenavData {
        padding-top: 15px;
    }
    .sidenavData a {
        font-size: 18px;
    }
}

:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
        saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter: var(--map-tiles-filter, none);
    }
}

.headTitle {
    font-weight: 2px;
    color: lightgrey;
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.headTxt {
    padding-top: 0;
    margin-top: 0;
}
.navBtn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    z-index: 200;
    bottom: 10px;
    left: 10px;
}

.data {
    color: grey;
    font-size: 22px;
    padding: 3px 8px 8px 32px;
}

.indiData {
    padding: 15px 0 15px 15px;
    /* padding-top: 15px; */
    background-color: rgb(223, 220, 220);
    /* margin: 5px; */
    margin: 0 15px 8px 0;
    border-radius: 4px;
}
